<footer class="container-fluid bg-light text-dark pt-4 pb-2 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-3">
        <a class="text-uppercase font-weight-bold" href="#about">About Us</a>
        <p>We provide the best loan management services to streamline the process of managing loan applications
          efficiently and effectively.</p>
      </div>
      <div class="col-md-4 mb-3 pl-3 ">
        <a class="text-uppercase font-weight-bold" href="#contact">Contact</a>
        <p>easyloans&#64;gmail.com</p>
        <p>Phone: +9123456789</p>
      </div>
      <div class="col-md-3 mb-3">
        <h6 class="text-uppercase font-weight-bold">Follow Us</h6>
        <a href="#" class="text-dark me-3"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#" class="text-dark me-3"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#" class="text-dark me-3"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p class="mb-0">&copy; 2025 EasyLoans. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
