<!-- <div>
  <h3>Create New Loan Application</h3>
  <form [formGroup]="newLoanApplicationForm" (ngSubmit)="createLoanApplication()">
    <div>
      <label for="applicantName">Applicant Name</label>
      <input id="applicantName" formControlName="applicantName" type="text">
    </div>
    <div>
      <label for="applicantAddress">Applicant Address</label>
      <input id="applicantAddress" formControlName="applicantAddress" type="text">
    </div>
    <div>
      <label for="applicantProfession">Applicant Profession</label>
      <input id="applicantProfession" formControlName="applicantProfession" type="text">
    </div>
    <div>
      <label for="applicantEmail">Applicant Email</label>
      <input id="applicantEmail" formControlName="applicantEmail" type="email">
    </div>
    <div>
      <label for="applicantPhone">Applicant Phone</label>
      <input id="applicantPhone" formControlName="applicantPhone" type="text">
    </div>
    <div>
      <label for="applicantPAN">Applicant PAN</label>
      <input id="applicantPAN" formControlName="applicantPAN" type="text">
    </div>
    <div>
      <label for="monthlyIncome">Monthly Income</label>
      <input id="monthlyIncome" formControlName="monthlyIncome" type="number">
    </div>
    <div>
      <label for="applicationDate">Application Date</label>
      <input id="applicationDate" formControlName="applicationDate" type="date">
    </div>
    <div>
      <label for="loanPlanId">Loan Plan ID</label>
      <input id="loanPlanId" formControlName="loanPlanId" type="text">
    </div>
    <div>
      <label for="noOfDependents">Number of Dependents</label>
      <input id="noOfDependents" formControlName="noOfDependents" type="number">
    </div>
    <button type="submit" [disabled]="newLoanApplicationForm.invalid">Submit</button>
  </form>
  <div *ngIf="newLoanApplicationResponse">
    <p>{{ newLoanApplicationResponse }}</p>
  </div>
</div> -->
<!-- ----------- -->
<!-- <div class="container-fluid mt-3">
  <h1 class="text-center mb-2">Loan Application Form</h1>
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="newLoanApplicationForm" (ngSubmit)="createLoanApplication()">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicantName" class="form-label">Full Name:</label>
                <input type="text" class="form-control" id="applicantName" formControlName="applicantName" required>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-10">
                <label for="applicantAddress" class="form-label">Applicant Address</label>
                <input type="text" class="form-control" id="applicantAddress" formControlName="applicantAddress"
                  required>
              </div>
              <div class="col-md-4">
                <label for="applicantEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" id="applicantEmail" formControlName="applicantEmail" required>
              </div>
              <div class="col-md-4">
                <label for="applicantPhone" class="form-label">Phone Number:</label>
                <input type="tel" class="form-control" id="applicantPhone" formControlName="applicantPhone" required>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="applicantPAN" class="form-label">PAN:</label>
                <input type="text" class="form-control" id="applicantPAN" formControlName="applicantPAN" required>
              </div>
              <div class="col-md-4">
                <label for="noOfDependents" class="form-label">Number of Dependents:</label>
                <input type="number" class="form-control" id="noOfDependents" formControlName="noOfDependents" required>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="monthlyIncome" class="form-label">Monthly Income:</label>
                <input type="number" class="form-control" id="monthlyIncome" formControlName="monthlyIncome" min="10000"
                  required>
              </div>
              <div class="col-md-4">
                <label for="applicantProfession" class="form-label">Profession:</label>
                <select id="applicantProfession" class="form-control" formControlName="applicantProfession" required>
                  <option value="Engineer">Engineer</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Lawyer">Lawyer</option>
                  <option value="Student">Student</option>
                </select>
              </div>
              <div class="col-md-4">
                <label for="applicationDate" class="form-label">Application Date</label>
                <input type="date" class="form-control" id="applicationDate" [min]='minDate'
                  formControlName="applicationDate" required>
              </div>
            </div>

            <div class="mb-3 mt-4">
              <label for="loanPlanId" class="form-label">Loan Plan ID</label>
              <input type="number" class="form-control" id="loanPlanId" formControlName="loanPlanId" required>
            </div>

            <div class="row">
              <div class="col-12 text-center pt-2">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="newLoanApplicationForm.invalid">Submit
                  Application</button>
              </div>
            </div>
          </form>
          <div *ngIf="newLoanApplicationResponse">
            <p>{{ newLoanApplicationResponse }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- ----------- -->

<!-- =====WORKING====== -->
<!--
<div class="container-fluid mt-3">
  <h1 class="text-center mb-2">Loan Application Form</h1>
  <div class="row">
    <div class="col-9 mx-auto">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="newLoanApplicationForm" (ngSubmit)="createLoanApplication()">
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicantName" class="form-label">Full Name:</label>
                <input type="text" class="form-control" id="applicantName" formControlName="applicantName" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantName'].invalid && (newLoanApplicationForm.controls['applicantName'].touched || newLoanApplicationForm.controls['applicantName'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['required']">
                    Full Name is Required!
                  </span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-10">
                <label for="applicantAddress" class="form-label">Applicant Address</label>
                <input type="text" class="form-control" id="applicantAddress" formControlName="applicantAddress"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantAddress'].invalid && (newLoanApplicationForm.controls['applicantAddress'].touched || newLoanApplicationForm.controls['applicantAddress'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantAddress'].errors?.['required']">
                    Applicant Address is Required!
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <label for="applicantEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" id="applicantEmail" formControlName="applicantEmail" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantEmail'].invalid && (newLoanApplicationForm.controls['applicantEmail'].touched || newLoanApplicationForm.controls['applicantEmail'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['required']">
                    Email is Required!
                  </span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['email']">
                    Invalid Email Format!
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <label for="applicantPhone" class="form-label">Phone Number:</label>
                <input type="tel" class="form-control" id="applicantPhone" formControlName="applicantPhone" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPhone'].invalid && (newLoanApplicationForm.controls['applicantPhone'].touched || newLoanApplicationForm.controls['applicantPhone'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['required']">
                    Phone Number is Required!
                  </span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['pattern']">
                    Invalid Phone Number!
                  </span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="applicantPAN" class="form-label">PAN:</label>
                <input type="text" class="form-control" id="applicantPAN" formControlName="applicantPAN" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPAN'].invalid && (newLoanApplicationForm.controls['applicantPAN'].touched || newLoanApplicationForm.controls['applicantPAN'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPAN'].errors?.['required']">
                    PAN is Required!
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <label for="noOfDependents" class="form-label">Number of Dependents:</label>
                <input type="number" class="form-control" id="noOfDependents" formControlName="noOfDependents" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['noOfDependents'].invalid && (newLoanApplicationForm.controls['noOfDependents'].touched || newLoanApplicationForm.controls['noOfDependents'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['noOfDependents'].errors?.['required']">
                    Number of Dependents is Required!
                  </span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label for="monthlyIncome" class="form-label">Monthly Income:</label>
                <input type="number" class="form-control" id="monthlyIncome" formControlName="monthlyIncome" min="10000"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['monthlyIncome'].invalid && (newLoanApplicationForm.controls['monthlyIncome'].touched || newLoanApplicationForm.controls['monthlyIncome'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['monthlyIncome'].errors?.['required']">
                    Monthly Income is Required!
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <label for="applicantProfession" class="form-label">Profession:</label>
                <select id="applicantProfession" class="form-control" formControlName="applicantProfession" required>
                  <option value="Engineer">Engineer</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Lawyer">Lawyer</option>
                  <option value="Student">Student</option>
                </select>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantProfession'].invalid && (newLoanApplicationForm.controls['applicantProfession'].touched || newLoanApplicationForm.controls['applicantProfession'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantProfession'].errors?.['required']">
                    Profession is Required!
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <label for="applicationDate" class="form-label">Application Date</label>
                <input type="date" class="form-control" id="applicationDate" [min]='minDate'
                  formControlName="applicationDate" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicationDate'].invalid && (newLoanApplicationForm.controls['applicationDate'].touched || newLoanApplicationForm.controls['applicationDate'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicationDate'].errors?.['required']">
                    Application Date is Required!
                  </span>
                </div>
              </div>
            </div>

            <div class="mb-3 mt-4">
              <label for="loanPlanId" class="form-label">Loan Plan ID</label>
              <input type="number" class="form-control" id="loanPlanId" formControlName="loanPlanId" required>
              <div class="text-danger"
                *ngIf="newLoanApplicationForm.controls['loanPlanId'].invalid && (newLoanApplicationForm.controls['loanPlanId'].touched || newLoanApplicationForm.controls['loanPlanId'].dirty)">
                <span *ngIf="newLoanApplicationForm.controls['loanPlanId'].errors?.['required']">
                  Loan Plan ID is Required!
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-center pt-2">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="newLoanApplicationForm.invalid">Submit
                  Application</button>
              </div>
            </div>
          </form>
          <div *ngIf="newLoanApplicationResponse">
            <p>{{ newLoanApplicationResponse }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- =====WORKING====== -->

<!-- <div class="container my-5">
  <h1 class="text-center mb-4">Loan Application Form</h1>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="newLoanApplicationForm" (ngSubmit)="createLoanApplication()">
            <div class="mb-3">
              <label for="applicantName" class="form-label">Full Name:</label>
              <input type="text" class="form-control" id="applicantName" formControlName="applicantName" required>
              <div class="text-danger"
                *ngIf="newLoanApplicationForm.controls['applicantName'].invalid && (newLoanApplicationForm.controls['applicantName'].touched || newLoanApplicationForm.controls['applicantName'].dirty)">
                <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['required']">Full Name is
                  Required!</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="applicantAddress" class="form-label">Applicant Address:</label>
              <input type="text" class="form-control" id="applicantAddress" formControlName="applicantAddress" required>
              <div class="text-danger"
                *ngIf="newLoanApplicationForm.controls['applicantAddress'].invalid && (newLoanApplicationForm.controls['applicantAddress'].touched || newLoanApplicationForm.controls['applicantAddress'].dirty)">
                <span *ngIf="newLoanApplicationForm.controls['applicantAddress'].errors?.['required']">Applicant Address
                  is Required!</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicantEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" id="applicantEmail" formControlName="applicantEmail" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantEmail'].invalid && (newLoanApplicationForm.controls['applicantEmail'].touched || newLoanApplicationForm.controls['applicantEmail'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['required']">Email is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['email']">Invalid Email
                    Format!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="applicantPhone" class="form-label">Phone Number:</label>
                <input type="tel" class="form-control" id="applicantPhone" formControlName="applicantPhone" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPhone'].invalid && (newLoanApplicationForm.controls['applicantPhone'].touched || newLoanApplicationForm.controls['applicantPhone'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['required']">Phone Number is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['pattern']">Invalid Phone
                    Number!</span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicantPAN" class="form-label">PAN:</label>
                <input type="text" class="form-control" id="applicantPAN" formControlName="applicantPAN" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPAN'].invalid && (newLoanApplicationForm.controls['applicantPAN'].touched || newLoanApplicationForm.controls['applicantPAN'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPAN'].errors?.['required']">PAN is
                    Required!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="noOfDependents" class="form-label">Number of Dependents:</label>
                <input type="number" class="form-control" id="noOfDependents" formControlName="noOfDependents" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['noOfDependents'].invalid && (newLoanApplicationForm.controls['noOfDependents'].touched || newLoanApplicationForm.controls['noOfDependents'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['noOfDependents'].errors?.['required']">Number of
                    Dependents is Required!</span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="monthlyIncome" class="form-label">Monthly Income:</label>
                <input type="number" class="form-control" id="monthlyIncome" formControlName="monthlyIncome" min="10000"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['monthlyIncome'].invalid && (newLoanApplicationForm.controls['monthlyIncome'].touched || newLoanApplicationForm.controls['monthlyIncome'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['monthlyIncome'].errors?.['required']">Monthly Income is
                    Required!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="applicantProfession" class="form-label">Profession:</label>
                <select id="applicantProfession" class="form-control" formControlName="applicantProfession" required>
                  <option value="Engineer">Engineer</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Lawyer">Lawyer</option>
                  <option value="Student">Student</option>
                </select>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantProfession'].invalid && (newLoanApplicationForm.controls['applicantProfession'].touched || newLoanApplicationForm.controls['applicantProfession'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantProfession'].errors?.['required']">Profession
                    is Required!</span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicationDate" class="form-label">Application Date:</label>
                <input type="date" class="form-control" id="applicationDate" [min]='minDate'
                  formControlName="applicationDate" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicationDate'].invalid && (newLoanApplicationForm.controls['applicationDate'].touched || newLoanApplicationForm.controls['applicationDate'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicationDate'].errors?.['required']">Application Date
                    is Required!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="loanPlanId" class="form-label">Loan Plan ID:</label>
                <input type="number" class="form-control" id="loanPlanId" formControlName="loanPlanId" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['loanPlanId'].invalid && (newLoanApplicationForm.controls['loanPlanId'].touched || newLoanApplicationForm.controls['loanPlanId'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['loanPlanId'].errors?.['required']">Loan Plan ID is
                    Required!</span>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="newLoanApplicationForm.invalid">Submit
                Application</button>
            </div>
          </form>
          <div *ngIf="newLoanApplicationResponse" class="mt-3">
            <p>{{ newLoanApplicationResponse }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--  -->
<!-- <div class="container my-5">
  <h1 class="text-center mb-4">Loan Application Form</h1>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="newLoanApplicationForm" (ngSubmit)="createLoanApplication()">
            <div class="mb-3">
              <label for="applicantName" class="form-label">Full Name:</label>
              <input type="text" class="form-control" id="applicantName" formControlName="applicantName" required>
              <div class="text-danger"
                *ngIf="newLoanApplicationForm.controls['applicantName'].invalid && (newLoanApplicationForm.controls['applicantName'].touched || newLoanApplicationForm.controls['applicantName'].dirty)">
                <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['required']">Full Name is
                  Required!</span>
                <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['pattern']">Applicant name must
                  contain only letters and spaces</span>
                <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['minlength']">Applicant name must
                  be at least 10 characters long</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="applicantAddress" class="form-label">Applicant Address:</label>
              <input type="text" class="form-control" id="applicantAddress" formControlName="applicantAddress" required>
              <div class="text-danger"
                *ngIf="newLoanApplicationForm.controls['applicantAddress'].invalid && (newLoanApplicationForm.controls['applicantAddress'].touched || newLoanApplicationForm.controls['applicantAddress'].dirty)">
                <span *ngIf="newLoanApplicationForm.controls['applicantAddress'].errors?.['required']">Applicant Address
                  is Required!</span>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicantEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" id="applicantEmail" formControlName="applicantEmail" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantEmail'].invalid && (newLoanApplicationForm.controls['applicantEmail'].touched || newLoanApplicationForm.controls['applicantEmail'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['required']">Email is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['email']">Invalid Email
                    Format!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="applicantPhone" class="form-label">Phone Number:</label>
                <input type="tel" class="form-control" id="applicantPhone" formControlName="applicantPhone" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPhone'].invalid && (newLoanApplicationForm.controls['applicantPhone'].touched || newLoanApplicationForm.controls['applicantPhone'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['required']">Phone Number is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['pattern']">Phone number must
                    be exactly 10 digits long</span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicantPAN" class="form-label">PAN:</label>
                <input type="text" class="form-control" id="applicantPAN" formControlName="applicantPAN" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPAN'].invalid && (newLoanApplicationForm.controls['applicantPAN'].touched || newLoanApplicationForm.controls['applicantPAN'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPAN'].errors?.['required']">PAN is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantPAN'].errors?.['pattern']">PAN must be exactly
                    10 characters long and in the format ABCDE1234F</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="noOfDependents" class="form-label">Number of Dependents:</label>
                <input type="number" class="form-control" id="noOfDependents" min="0" formControlName="noOfDependents"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['noOfDependents'].invalid && (newLoanApplicationForm.controls['noOfDependents'].touched || newLoanApplicationForm.controls['noOfDependents'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['noOfDependents'].errors?.['required']">Number of
                    Dependents is Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['noOfDependents'].errors?.['min']">No of dependents
                    cannot be negative</span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="monthlyIncome" class="form-label">Monthly Income:</label>
                <input type="number" class="form-control" id="monthlyIncome" formControlName="monthlyIncome" min="0"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['monthlyIncome'].invalid && (newLoanApplicationForm.controls['monthlyIncome'].touched || newLoanApplicationForm.controls['monthlyIncome'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['monthlyIncome'].errors?.['required']">Monthly Income is
                    Required!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="applicantProfession" class="form-label">Profession:</label>
                <select id="applicantProfession" class="form-control" formControlName="applicantProfession" required>
                  <option value="Engineer">Engineer</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Lawyer">Lawyer</option>
                  <option value="Student">Student</option>
                </select>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantProfession'].invalid && (newLoanApplicationForm.controls['applicantProfession'].touched || newLoanApplicationForm.controls['applicantProfession'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantProfession'].errors?.['required']">Profession
                    is Required!</span>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="applicationDate" class="form-label">Application Date:</label>
                <input type="date" class="form-control" id="applicationDate" [min]='minDate'
                  formControlName="applicationDate" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicationDate'].invalid && (newLoanApplicationForm.controls['applicationDate'].touched || newLoanApplicationForm.controls['applicationDate'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicationDate'].errors?.['required']">Application Date
                    is Required!</span>
                </div>
              </div>
              <div class="col-md-6">
                <label for="loanPlanId" class="form-label">Loan Plan ID:</label>
                <input type="number" class="form-control" id="loanPlanId" min="1" formControlName="loanPlanId" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['loanPlanId'].invalid && (newLoanApplicationForm.controls['loanPlanId'].touched || newLoanApplicationForm.controls['loanPlanId'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['loanPlanId'].errors?.['required']">Loan Plan ID is
                    Required!</span>
                </div>
              </div>

              <div class="mb-3">
                <label for="supportingDocuments" class="form-label">Supporting Documents:</label>
                <input type="file" class="form-control" id="supportingDocuments" (change)="onFileChange($event)"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['supportingDocuments'].invalid && (newLoanApplicationForm.controls['supportingDocuments'].touched || newLoanApplicationForm.controls['supportingDocuments'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['supportingDocuments'].errors?.['required']">Supporting
                    Document is
                    Required!</span>
                </div>
              </div>

            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="newLoanApplicationForm.invalid">Submit
                Application</button>
            </div>
          </form>
          <div *ngIf="newLoanApplicationResponse" class="mt-3">
            <p class="text-success" *ngIf="newLoanApplicationResponse.success">{{ newLoanApplicationResponse.message }}
            </p>
            <p class="text-danger" *ngIf="!newLoanApplicationResponse.success">{{ newLoanApplicationResponse.message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<lib-toastify-toast-container></lib-toastify-toast-container>
<div class="container my-5">
  <h1 class="text-center mb-4">Loan Application Form</h1>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="newLoanApplicationForm" (ngSubmit)="createLoanApplication()">
            <div class="mb-3">
              <label for="applicantName" class="form-label">Full Name:</label>
              <input type="text" class="form-control" id="applicantName" formControlName="applicantName" required>
              <div class="text-danger"
                *ngIf="newLoanApplicationForm.controls['applicantName'].invalid && (newLoanApplicationForm.controls['applicantName'].touched || newLoanApplicationForm.controls['applicantName'].dirty)">
                <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['required']">Full Name is
                  Required!</span>
                <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['pattern']">Applicant name must
                  contain only letters and spaces</span>
                <span *ngIf="newLoanApplicationForm.controls['applicantName'].errors?.['minlength']">Applicant name must
                  be at least 10 characters long</span>
              </div>
            </div>

            <div class="mb-3">
              <label for="applicantAddress" class="form-label">Applicant Address:</label>
              <input type="text" class="form-control" id="applicantAddress" formControlName="applicantAddress" required>
              <div class="text-danger"
                *ngIf="newLoanApplicationForm.controls['applicantAddress'].invalid && (newLoanApplicationForm.controls['applicantAddress'].touched || newLoanApplicationForm.controls['applicantAddress'].dirty)">
                <span *ngIf="newLoanApplicationForm.controls['applicantAddress'].errors?.['required']">Applicant Address
                  is Required!</span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6  mb-3">
                <label for="applicantEmail" class="form-label">Email:</label>
                <input type="email" class="form-control" id="applicantEmail" formControlName="applicantEmail" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantEmail'].invalid && (newLoanApplicationForm.controls['applicantEmail'].touched || newLoanApplicationForm.controls['applicantEmail'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['required']">Email is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantEmail'].errors?.['email']">Invalid Email
                    Format!</span>
                </div>
              </div>
              <div class="col-md-6  mb-3">
                <label for="applicantPhone" class="form-label">Phone Number:</label>
                <input type="tel" class="form-control" id="applicantPhone" formControlName="applicantPhone" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPhone'].invalid && (newLoanApplicationForm.controls['applicantPhone'].touched || newLoanApplicationForm.controls['applicantPhone'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['required']">Phone Number is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantPhone'].errors?.['pattern']">Phone number must
                    be exactly 10 digits long</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6  mb-3">
                <label for="applicantPAN" class="form-label">PAN:</label>
                <input type="text" class="form-control" id="applicantPAN" formControlName="applicantPAN" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantPAN'].invalid && (newLoanApplicationForm.controls['applicantPAN'].touched || newLoanApplicationForm.controls['applicantPAN'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantPAN'].errors?.['required']">PAN is
                    Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['applicantPAN'].errors?.['pattern']">PAN must be exactly
                    10 characters long and in the format ABCDE1234F</span>
                </div>
              </div>
              <div class="col-md-6  mb-3">
                <label for="noOfDependents" class="form-label">Number of Dependents:</label>
                <input type="number" class="form-control" id="noOfDependents" min="0" formControlName="noOfDependents"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['noOfDependents'].invalid && (newLoanApplicationForm.controls['noOfDependents'].touched || newLoanApplicationForm.controls['noOfDependents'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['noOfDependents'].errors?.['required']">Number of
                    Dependents is Required!</span>
                  <span *ngIf="newLoanApplicationForm.controls['noOfDependents'].errors?.['min']">No of dependents
                    cannot be negative</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6  mb-3">
                <label for="monthlyIncome" class="form-label">Monthly Income:</label>
                <input type="number" class="form-control" id="monthlyIncome" formControlName="monthlyIncome" min="0"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['monthlyIncome'].invalid && (newLoanApplicationForm.controls['monthlyIncome'].touched || newLoanApplicationForm.controls['monthlyIncome'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['monthlyIncome'].errors?.['required']">Monthly Income is
                    Required!</span>
                </div>
              </div>
              <!-- <div class="row mb-3">
                <div class="col-md-6">
                  <label for="applicantProfession" class="form-label">Profession:</label>
                  <select id="applicantProfession" class="form-control" formControlName="applicantProfession" required
                    (change)="onProfessionChange($event)">
                    <option value="Engineer">Engineer</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Lawyer">Lawyer</option>
                    <option value="Student">Student</option>
                    <option value="Other">Other</option>

                  </select>
                  <div class="text-danger"
                    *ngIf="newLoanApplicationForm.controls['applicantProfession'].invalid && (newLoanApplicationForm.controls['applicantProfession'].touched || newLoanApplicationForm.controls['applicantProfession'].dirty)">
                    <span *ngIf="newLoanApplicationForm.controls['applicantProfession'].errors?.['required']">Profession
                      is Required!</span>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="showCustomProfessionField">
                  <label for="customProfession" class="form-label">Please specify:</label>
                  <input type="text" class="form-control" id="customProfession" formControlName="customProfession"
                    required>
                  <div class="text-danger"
                    *ngIf="newLoanApplicationForm.controls['customProfession'].invalid && (newLoanApplicationForm.controls['customProfession'].touched || newLoanApplicationForm.controls['customProfession'].dirty)">
                    <span *ngIf="newLoanApplicationForm.controls['customProfession'].errors?.['required']">Custom
                      Profession is Required!</span>
                  </div>
                </div>
              </div> -->
              <!-- <div class="row mb-3"> -->
              <div class="col-md-6  mb-3">
                <label for="applicantProfession" class="form-label">Profession:</label>
                <select id="applicantProfession" class="form-control" formControlName="applicantProfession" required
                  (change)="onProfessionChange($event)">
                  <option value="Engineer">Engineer</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Lawyer">Lawyer</option>
                  <option value="Student">Student</option>
                  <option value="Other">Other</option>
                </select>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicantProfession'].invalid && (newLoanApplicationForm.controls['applicantProfession'].touched || newLoanApplicationForm.controls['applicantProfession'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicantProfession'].errors?.['required']">Profession
                    is Required!</span>
                </div>
              </div>
              <div class="col-md-6 mb-3" *ngIf="showCustomProfessionField">
                <label for="customProfession" class="form-label">Please specify:</label>
                <input type="text" class="form-control" id="customProfession" formControlName="customProfession"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['customProfession'].invalid && (newLoanApplicationForm.controls['customProfession'].touched || newLoanApplicationForm.controls['customProfession'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['customProfession'].errors?.['required']">Custom
                    Profession is Required!</span>
                </div>
              </div>
            </div>

            <div class="row ">
              <!-- <div class="col-md-6  mb-3">
                <label for="applicationDate" class="form-label">Application Date:</label>
                <input type="date" class="form-control" id="applicationDate" [min]='minDate' [max]="maxDate"
                  formControlName="applicationDate" required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicationDate'].invalid && (newLoanApplicationForm.controls['applicationDate'].touched || newLoanApplicationForm.controls['applicationDate'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicationDate'].errors?.['required']">Application Date
                    is Required!</span>
                </div>
              </div> -->
              <div class="col-md-6  mb-3">
                <label for="applicationDate" class="form-label">Application Date:</label>
                <input type="text" class="form-control" id="applicationDate"
                  [value]="newLoanApplicationForm.controls['applicationDate'].value|date:'dd-MM-yyyy'" readonly>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['applicationDate'].invalid && (newLoanApplicationForm.controls['applicationDate'].touched || newLoanApplicationForm.controls['applicationDate'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['applicationDate'].errors?.['required']">Application Date
                    is Required!</span>
                </div>
              </div>
              <div class="col-md-6  mb-3">
                <label for="loanPlanId" class="form-label">Loan Plan ID:</label>
                <!-- <input type="number" class="form-control" id="loanPlanId" min="1" formControlName="loanPlanId" required> -->
                <select id="loanPlanId" class="form-control" formControlName="loanPlanId" required>
                  <option value="1">1- Personal Loan</option>
                  <option value="2">2- Home Loan</option>
                  <option value="3">3- Education Loan</option>
                  <option value="4">4- Student Loan</option>
                  <option value="5">5- Medical Loan</option>
                  <option value="6">6- Wedding Loan</option>
                  <option value="7">7- Vehicle Loan</option>
                  <option value="8">8- Business Loan</option>
                  <option value="9">9- Gold Loan</option>
                  <option value="10">10- Agricultural Loan</option>
                </select>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['loanPlanId'].invalid && (newLoanApplicationForm.controls['loanPlanId'].touched || newLoanApplicationForm.controls['loanPlanId'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['loanPlanId'].errors?.['required']">Loan Plan ID is
                    Required!</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12  mb-3">
                <label for="supportingDocuments" class="form-label">Supporting Documents:</label>
                <input type="file" class="form-control" id="supportingDocuments" (change)="onFileChange($event)"
                  required>
                <div class="text-danger"
                  *ngIf="newLoanApplicationForm.controls['supportingDocuments'].invalid && (newLoanApplicationForm.controls['supportingDocuments'].touched || newLoanApplicationForm.controls['supportingDocuments'].dirty)">
                  <span *ngIf="newLoanApplicationForm.controls['supportingDocuments'].errors?.['required']">Supporting
                    Document is
                    Required!</span>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="newLoanApplicationForm.invalid">Submit
                Application</button>
            </div>
          </form>
          <div *ngIf="newLoanApplicationResponse" class="mt-3">
            <!-- <p class="text-success" *ngIf="newLoanApplicationResponse.success">{{ newLoanApplicationResponse.message }}
            </p> -->
            <p class="text-danger" *ngIf="!newLoanApplicationResponse.success">{{ newLoanApplicationResponse.message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
