.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* position: relative; */
  /* top: 50%; */
  /* transform: translateY(10%); */
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .btn {
  width: 100%;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 20px;
  }
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}
