<lib-toastify-toast-container></lib-toastify-toast-container>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row border rounded-5 p-3 bg-white shadow box-area" style="max-width: 500px; width: 100%;">
    <form class="login" [formGroup]="authRequest">
      <div class="col-md-12 right-box mx-auto">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2 class="text-center">Login Form</h2>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder=" Username"
              formControlName="username">
          </div>
          <div class="input-group mb-3">
            <input [type]="hidePassword ? 'password' : 'text'" formControlName="password"
              class="form-control form-control-lg bg-light fs-6" placeholder="Password">
            <button type="button" class="btn btn-outline-secondary bg-light border toggle-password-btn"
              (click)="togglePasswordVisibility()">
              <i class="fa" [ngClass]="{'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword}"></i>
            </button>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-lg btn-primary mx-auto fs-6" (click)="fnLogin()">Login</button>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger text-center">{{ errorMessage }}</div>
          <div class="row text-center">
            <small>Don't have account? <a routerLink="/signup">Register Here</a></small>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>