<!-- <div *ngIf="documentTypes" class="container mt-4">
  <h3 class="text-center mb-4">
    Document Types
  </h3>

  <ol class="list-group">
    <li *ngFor="let doc of documentTypes">
      <div class="mb-2">
        <strong>Document ID:</strong>
        {{doc.documentId}}
      </div>
      <div class="mb-2">
        <strong>Document Name:</strong>
        {{doc.documentType}}
      </div>
    </li>
  </ol>
</div> -->

<div *ngIf="documentTypes" class="container mt-4">
  <h3 class="text-center mb-4">Document Types</h3>
  <div class="row">
    <div *ngFor="let doc of documentTypes; let i = index" class="col-md-4 mb-4">
      <div class="card h-100" style="width: 100%;">
        <img src="/assets/idproof.jfif" class="card-img-top" alt="Document Image">
        <div class="card-body">
          <p class="card-text">
            <strong>Document ID:</strong> {{doc.documentId}}<br>
            <strong>Document Name:</strong> {{doc.documentType}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
