<!-- <div class="jumbotron text-center"
  style="background-image: url('/src/app/assets/background.jpg'); alt: not found; background-size: cover; opacity: 0.9;">
  <h1 class="display-4">Welcome to Loan Management System</h1>
  <p class="lead">Manage your loans efficiently and effectively.</p>
  <hr class="my-4">
  <p>Learn more about our services.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> -->

<div class="jumbotron" style="background-image: url('assets/background.jpg'); background-size: cover;" id="home">
  <div class="left-side">
    <h1 class="display-4 mt-3">Welcome to EasyLoans</h1>
    <h3 class="mt-4">A Loan Management System</h3>
    <p class="lead">Manage your loans efficiently and effectively.</p>
    <!-- <hr class="my-4"> -->
    <p>Learn more about our services.</p>
    <a class="btn btn-primary btn-lg" href="#about" routerLinkActive="router-link-active" role="button">Know
      more</a>
  </div>
  <div class="right-side"></div>
</div>
<app-about id="about"></app-about>
<app-contact></app-contact>
<app-footer></app-footer>
